html{
    margin: 0px 155px;
    
    border-left: 1px solid #696969;
    border-right: 1px solid #696969;
}
    
a{
    text-decoration: none;
}
header{
    padding: 45px;
    padding-bottom: 40px;
}
header ul{
    height: 40px;
    margin-top: 40px;
    font-size:0;
    height: 40px;
    padding: 0;
    background-color: #555;
}
header li{ 
    font-size:14px;
    padding: 12px 20px;
    list-style: none;
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 5px grey;
    
}
header a{   
    color: white;
}
header li:hover{
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: #3f3f3f;
}
.container{
    display: block;
    padding: 0px 45px;
}
.container li{
    list-style: none;
    max-height: 40px;
    border: 1px solid grey;
    border-top:0px ;
    padding: 12px 20px;    
}
.container li:first-child{
    border-top: 1px solid grey;
}
.container ul{
    margin: 0;
    padding: 0;    
    width: 240px;
}
.container li:hover{
    background-color:#ccc;
}
.container a{
    color: #656556;
}
.left_menu{
    display: inline-block;
}
.content{
    display: inline-block;
}
.content {
    width: 880px;
    float: right;
}
.content img{
    border: 1px solid grey;
    padding: 80px 190px;
    align-items: center;
}
.left_menu{
    padding-right: 45px;
}
p{
    line-height: 25px;
}
footer ul{
    margin: 45px;
    padding:0;
    background-color: grey;
}
footer li{
    
    padding-right: 20px;
    display:inline-block ;
}
footer a {
    
    color: black;
}
footer{ 
    width: 1255px;
    float: right;
}
footer li:last-child{
    color: red;
    padding-left: 720px;
    padding-right: 0;
}